Repository mallfoundry/taroify: changes, and which lefthook commands are due for each by the changed paths.
All: biome, test, prettier, stylelint

lefthook.yml:

# yaml-language-server:$schema=./node_modules/lefthook/schema.json
# https://evilmartians.github.io/lefthook/configuration/

pre-commit:
  piped: true
  follow: true
  commands:
    staged:
      priority: 1
      run: echo {staged_files}
    security:
      priority: 2
      run: gitleaks protect --staged --no-banner
    # typescript:
    #   priority: 3
    #   glob: "*.{ts,tsx}"
    #   run: na tsc
    biome:
      priority: 4
      glob: "*.{ts,tsx,js,jsx,json,jsonc,css}"
      run: na biome check --fix {staged_files} --reporter summary
      stage_fixed: true
    test:
      priority: 5
      glob: "*.{ts,tsx,js,jsx}"
      run: na jest --findRelatedTests {staged_files}
    prettier: # Biome 尚不支持 markdown 文件
      priority: 6
      glob: "*.{md,mdx,html,htm,yaml,yml,scss}"
      run: na prettier --write {staged_files}
    stylelint: # Biome 尚不支持 scss 文件
      priority: 7
      glob: "*.{scss}"
      run: na stylelint --fix {staged_files}

prepare-commit-msg:
  commands:
    commit:
      interactive: true
      run: na git-cz --hook
      env:
        LEFTHOOK: "0"

fix(biome): dateTimePicker、dialog、divider、dropdownMenu、empty、field、fixedNav、fixedView、flex、floatingBubble、floatingPanel
  packages/core/src/datetime-picker/datetime-picker.tsx
  packages/core/src/datetime-picker/index.ts
  packages/core/src/datetime-picker/use-datetime-picker.ts
  packages/core/src/dialog/dialog-actions.tsx
  packages/core/src/dialog/dialog-content.tsx
  packages/core/src/dialog/dialog-header.tsx
  packages/core/src/dialog/dialog.imperative.ts
  packages/core/src/dialog/dialog.shared.ts
  packages/core/src/dialog/dialog.tsx
  packages/core/src/dialog/index.ts
  packages/core/src/divider/divider.tsx
  packages/core/src/dropdown-menu/dropdown-menu-item.context.ts
  packages/core/src/dropdown-menu/dropdown-menu-item.tsx
  packages/core/src/dropdown-menu/dropdown-menu-option.tsx
  packages/core/src/dropdown-menu/dropdown-menu-title.tsx
  packages/core/src/dropdown-menu/dropdown-menu.shared.ts
  packages/core/src/dropdown-menu/dropdown-menu.tsx
  packages/core/src/dropdown-menu/index.ts
  packages/core/src/empty/empty.tsx
  packages/core/src/field/field.tsx
  packages/core/src/fixed-nav/fixed-nav.shared.ts
  packages/core/src/fixed-nav/fixed-nav.tsx
  packages/core/src/fixed-view/fixed-view.tsx
  packages/core/src/flex/flex-item.tsx
  packages/core/src/flex/flex.tsx
  packages/core/src/flex/index.ts
  packages/core/src/floating-bubble/floating-bubble.tsx
  packages/core/src/floating-panel/floating-panel.tsx
  packages/core/src/floating-panel/index.ts
Due: biome, test

fix(biome): button、calendar、cascader
  packages/core/src/button/button.tsx
  packages/core/src/calendar/calendar-month.tsx
  packages/core/src/calendar/calendar.shared.ts
  packages/core/src/cascader/cascader-header.tsx
  packages/core/src/cascader/cascader-option-base.tsx
  packages/core/src/cascader/cascader-option.tsx
  packages/core/src/cascader/cascader.shared.ts
  packages/icons/src/utils/index.ts
Due: biome, test

fix(biome): cell
  packages/core/src/button/__tests__/button.test.tsx
  packages/core/src/cascader/cascader-tab.tsx
  packages/core/src/cascader/cascader.context.ts
  packages/core/src/cascader/index.ts
  packages/core/src/cell/cell-base.tsx
  packages/core/src/cell/cell-brief.tsx
  packages/core/src/cell/cell-group.tsx
  packages/core/src/cell/cell-title.tsx
  packages/core/src/cell/cell-value.tsx
  packages/core/src/cell/cell.shared.ts
  packages/core/src/cell/cell.tsx
  packages/core/src/cell/index.ts
Due: biome, test

fix(biome): collapse、configProvider、countDown
  packages/core/src/collapse/collapse-item.tsx
  packages/core/src/collapse/collapse.tsx
  packages/core/src/collapse/index.ts
  packages/core/src/config-provider/config-provider.tsx
  packages/core/src/config-provider/index.ts
  packages/core/src/countdown/countdown.shared.ts
  packages/core/src/countdown/countdown.tsx
  packages/core/src/countdown/use-countdown.ts
Due: biome, test

fix(biome): checkbox
  packages/core/src/checkbox/checkbox-group.context.ts
  packages/core/src/checkbox/checkbox.tsx
  packages/core/src/checkbox/index.ts
  packages/core/test/event.ts
Due: biome, test

fix(biome): col
  packages/core/src/action-sheet/index.ts
  packages/core/src/calendar/calendar.tsx
  packages/core/src/calendar/index.ts
  packages/core/src/checkbox/checkbox-group.tsx
  packages/core/src/circle/circle-canvas.tsx
  packages/core/src/circle/circle.shared.ts
  packages/core/src/circle/circle.tsx
  packages/core/src/col/col.tsx
  packages/gulp/serve.js
Due: biome, test

fix(biome): grid、hooks、image、indexList、input、list、loading、navbar、noticeBar、notify
  packages/core/src/grid/grid-item.tsx
  packages/core/src/grid/grid.tsx
  packages/core/src/grid/index.ts
  packages/core/src/hooks/use-canvas.ts
  packages/core/src/hooks/use-deep-compare.ts
  packages/core/src/hooks/use-did-effect.ts
  packages/core/src/hooks/use-function-interceptor.ts
  packages/core/src/hooks/use-height.ts
  packages/core/src/hooks/use-memoized-fn.ts
  packages/core/src/hooks/use-rendered-effect.tsx
  packages/core/src/hooks/use-timeout.ts
  packages/core/src/hooks/use-unique-id.ts
  packages/core/src/image/image-placeholder.tsx
  packages/core/src/image/image.tsx
  packages/core/src/image/index.ts
  packages/core/src/index-list/index-list-anchor.tsx
  packages/core/src/index-list/index-list-sidebar.tsx
  packages/core/src/index-list/index-list.context.ts
  packages/core/src/index-list/index-list.tsx
  packages/core/src/index-list/index.ts
  packages/core/src/input/input.tsx
  packages/core/src/input/native-input.tsx
  packages/core/src/list/list-placeholder.tsx
  packages/core/src/list/list.tsx
  packages/core/src/loading/loading.tsx
  packages/core/src/navbar/index.ts
  packages/core/src/navbar/navbar-left.tsx
  packages/core/src/navbar/navbar-right.tsx
  packages/core/src/navbar/navbar-title.tsx
  packages/core/src/navbar/navbar.tsx
  packages/core/src/notice-bar/notice-bar-action.tsx
  packages/core/src/notice-bar/notice-bar-icon.tsx
  packages/core/src/notice-bar/notice-bar.tsx
  packages/core/src/notify/index.ts
  packages/core/src/notify/notify.imperative.ts
  packages/core/src/notify/notify.shared.ts
  packages/core/src/notify/notify.tsx
Due: biome, test

chore(biome): core
  packages/core/src/calendar/calendar.tsx
  packages/core/src/cascader/cascader.tsx
  packages/core/src/divider/index.ts
  packages/core/src/dropdown-menu/dropdown-menu.context.ts
  packages/core/src/form/control/form-control-handler.ts
  packages/core/src/form/control/form-control-handlers.tsx
  packages/core/src/navbar/__tests__/navbar.test.tsx
  packages/core/src/navbar/navbar-title.tsx
  packages/core/src/number-keyboard/number-keyboard.context.ts
  packages/core/src/picker/picker-columns-render.tsx
  packages/core/src/picker/picker-option.tsx
  packages/core/src/slider/slider.tsx
  packages/core/src/utils/format/number.ts
  packages/core/src/utils/format/unit.ts
Due: biome, test

chore: 🤖 core
  biome.json
  lefthook.yml
  packages/core/src/empty/index.ts
  packages/core/src/fixed-view/index.ts
  packages/core/src/form/control/form-control-handlers.tsx
  packages/core/src/grid/grid.shared.ts
  packages/core/src/list/index.ts
  packages/core/src/loading/index.ts
  packages/core/src/pagination/index.ts
  packages/core/src/progress/index.ts
  packages/core/src/rate/index.ts
  packages/core/src/rolling-text/rolling-text.shared.ts
  packages/core/src/safe-area/safe-area.tsx
  packages/core/src/skeleton/index.ts
  packages/core/src/sticky/index.ts
  packages/core/src/switch/index.ts
  packages/core/src/tag/index.ts
  packages/core/src/textarea/index.ts
  packages/core/src/utils/dom/can-use-dom.ts
  packages/core/src/watermark/index.ts
  packages/gulp/__tests__/scss.test.js
  packages/gulp/__tests__/treeshaking-lodash.test.js
  packages/icons/scripts/generate.js
Due: biome, test, prettier

chore(biome): gulp
  packages/gulp/bundle.js
  packages/gulp/index.js
  packages/gulp/scss.js
  packages/gulp/serve.js
  packages/gulp/treeshaking-lodash.js
  packages/gulp/typescript.js
  packages/gulp/www.js
Due: biome, test

chore(biome): hooks
  packages/hooks/src/use-area/area.shared.ts
  packages/hooks/src/use-area/use-area.ts
  packages/hooks/src/use-cascader/use-cascader.new.ts
  packages/hooks/src/use-cascader/use-cascader.old.ts
  packages/hooks/src/use-cascader/use-cascader.shared.ts
  packages/hooks/src/use-cascader/use-cascader.ts
  packages/hooks/src/use-to-ref/use-to-ref.ts
Due: biome, test

fix(biome): form
  packages/core/src/form/form-control.tsx
  packages/core/src/form/form-feedback.tsx
  packages/core/src/form/form-item.context.ts
  packages/core/src/form/form-item.tsx
  packages/core/src/form/form-label.tsx
  packages/core/src/form/form-list.tsx
  packages/core/src/form/form.context.ts
  packages/core/src/form/form.rule.ts
  packages/core/src/form/form.shared.ts
  packages/core/src/form/form.tsx
  packages/core/src/form/form.validate.ts
  packages/core/src/form/index.ts
  packages/core/src/form/use-form-error.ts
  packages/core/src/form/use-form-field-value-effect.ts
  packages/core/src/form/use-form-field.ts
  packages/core/src/form/use-form-item.ts
  packages/core/src/form/use-form-list.ts
  packages/core/src/form/use-form-value.ts
  packages/core/src/form/use-form.ts
Due: biome, test

feat: 🎸 Divider support vertical direction
  packages/core/src/divider/README.md
  packages/core/src/divider/_variables.scss
  packages/core/src/divider/divider.scss
  packages/core/src/divider/divider.shared.ts
  packages/core/src/divider/divider.tsx
  packages/demo/src/pages/display/divider/index.tsx
Due: biome, test, prettier

feat: 🎸 TextEllipsis support toggle function
  packages/core/src/text-ellipsis/README.md
  packages/core/src/text-ellipsis/index.ts
  packages/core/src/text-ellipsis/text-ellipsis.tsx
  packages/demo/src/pages/display/rolling-text/index.tsx
  packages/demo/src/pages/display/text-ellipsis/index.tsx
Due: biome, test, prettier

fix: 🐛 微信小程序Toast或Dialog在特定的回调里报错
  packages/core/src/utils/dom/element.ts
Due: biome, test

Delete the supporter QR code
  README.md
Due: prettier

feat: 🎸 Toast allowMultiple
  package.json
  packages/core/src/toast/README.md
  packages/core/src/toast/index.ts
  packages/core/src/toast/toast.imperative.ts
  packages/demo/src/pages/basic/toast/index.tsx
Due: biome, test, prettier

feat: 🎸 Dialog multiple
  packages/core/src/dialog/dialog.imperative.ts
  packages/core/src/dialog/dialog.tsx
Due: biome, test

feat: 🎸 Release 0.7.0
  lerna.json
  package.json
  packages/babel-preset/package.json
  packages/cli/package.json
  packages/commerce/package.json
  packages/core/package.json
  packages/core/src/divider/README.md
  packages/core/src/text-ellipsis/README.md
  packages/core/src/toast/README.md
  packages/demo/package.json
  packages/gulp/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/stylelint-config/package.json
  problems/unconfirmed/package.json
  site/content/changelog/index.md
  site/package.json
Due: biome, prettier

fix: 🐛 'easedDistance' is declared but its value is never read
  packages/core/src/pull-refresh/pull-refresh.tsx
Due: biome, test

refactor: 💡 Re implement the skeleton
  packages/core/src/skeleton/README.md
  packages/core/src/skeleton/_variables.scss
  packages/core/src/skeleton/index.scss
  packages/core/src/skeleton/index.ts
  packages/core/src/skeleton/skeleton-avatar.scss
  packages/core/src/skeleton/skeleton-avatar.tsx
  packages/core/src/skeleton/skeleton-image.scss
  packages/core/src/skeleton/skeleton-image.tsx
  packages/core/src/skeleton/skeleton-paragraph.scss
  packages/core/src/skeleton/skeleton-paragraph.tsx
  packages/core/src/skeleton/skeleton-title.scss
  packages/core/src/skeleton/skeleton-title.tsx
  packages/core/src/skeleton/skeleton.scss
  packages/core/src/skeleton/skeleton.shared.ts
  packages/core/src/skeleton/skeleton.tsx
  packages/demo/src/pages/display/skeleton/index.scss
  packages/demo/src/pages/display/skeleton/index.tsx
Due: biome, test, prettier

refactor: 💡 replace getSystemInfoSync
  packages/core/src/dropdown-menu/dropdown-menu.tsx
  packages/core/src/floating-bubble/floating-bubble.tsx
  packages/core/src/floating-panel/README.md
  packages/core/src/floating-panel/__tests__/floating-panel.test.tsx
  packages/core/src/floating-panel/floating-panel.tsx
  packages/core/src/hooks/use-canvas.ts
  packages/core/src/safe-area/__tests__/safe-area__outbrowser.test.tsx
  packages/core/src/utils/format/unit.ts
  packages/core/src/utils/version.ts
  packages/core/src/watermark/watermark.tsx
  packages/demo/src/pages/action/floating-panel/index.tsx
Due: biome, test, prettier
